<form class="btn" style="float: right" action="/home/page" method="get">
    <button type="submit">
        Signout
    </button>
  </form>
<center>
    <h3>Car info:</h3>
    <h4>Vehicle no.: <%=car.vehicle_no%>&nbsp;&nbsp;&nbsp; Vehicle model: <%=car.vehicle_model%>&nbsp;&nbsp;&nbsp;Seating capacity: <%=car.seating_capacity%>&nbsp;&nbsp;&nbsp; Rent: <%=car.rent%>&nbsp;&nbsp;&nbsp;</h4>
    <h3>Agency info:</h3>
    <h4>Agency name: <%=result.name%>&nbsp;&nbsp;&nbsp; Address: <%=result.address%>&nbsp;&nbsp;&nbsp; Contact no: <%=result.contact%>&nbsp;&nbsp;&nbsp; Email id: <%=result.email%>&nbsp;&nbsp;&nbsp;</h4>
</center>