<form class="btn" style="float: right" action="/users/signout" method="get">
    <button type="submit">
            Signout
    </button>
</form>
<center>
    <h3>Car info:</h3>
    <h4>Vehicle no.: <%=car.vehicle_no%>&nbsp;&nbsp;&nbsp; Vehicle model: <%=car.vehicle_model%>&nbsp;&nbsp;&nbsp;Seating capacity: <%=car.seating_capacity%>&nbsp;&nbsp;&nbsp; Rent: <%=car.rent%>&nbsp;&nbsp;&nbsp;</h4>
    <h3>Agency info:</h3>
    <h4>Agency name: <%=agency.name%>&nbsp;&nbsp;&nbsp; Address: <%=agency.address%>&nbsp;&nbsp;&nbsp; Contact no: <%=agency.contact%>&nbsp;&nbsp;&nbsp; Email id: <%=agency.email%>&nbsp;&nbsp;&nbsp;</h4>
</center>